@import "tailwindcss";
@source "../node_modules/@my-company/ui-lib";

@theme {
  --color-primary: #2D6A4F;
  --breakpoint-xs: 360px;
  --breakpoint-xss: 320px;
   --breakpoint-mds: 760px;
}
@layer base {
  body {
    @apply bg-[#FFFBEE];
  }
}
